    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div
            <a class="navbar-brand" href="{% url 'home' %}">Mertcan Güngör</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Anasayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blogs' %}">Blog</a>
                </li>
            </ul>
        </div>
    </nav>
