{% extends "base.html" %}
{% load static %}

{% block title %}Homepage{% endblock %}

{%block content%}

    <div class="container MT-3">
        <div class="row">
            <div class="col-3">
                 {% include 'partials/_catagories.html' %}
            </div>
            <div class="col-9">
                <h1>Anasayfa</h1>
                <hr>

                {% for blog in blogs %}
                    {% if blog.is_home and blog.is_active %}
                        {% include 'info/_info.html' %}
                    {% endif %}
                {% endfor %}


            </div>

        </div>
    </div>



{% endblock %}

{% block js_files %}

    <script src="{% static 'scripts.js' %}"></script>

{% endblock %}